
<div class="container-fluid">
  <div class="row">
    <div class="col-sm main">
      <h1 class="page-header">Dashboard</h1>

      <h2 class="sub-header">Products</h2>

      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProductForm">Add Product</button>
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
      </button>

      <!-- Alerts -->
      <div class="alert-group">
        <div class="alert alert-success " role="alert">...</div>
        <div class="alert alert-info d-none" role="alert">...</div>
        <div class="alert alert-warning d-none" role="alert">...</div>
        <div class="alert alert-danger d-none" role="alert">...</div>
      </div>




  <!--typeahead from ng bootstrap-->
      <!--searching for products by category-->
      <label for="typeahead-format">Search products by category:</label>
      <input id="typeahead-format" type="text" (click)=searchByCat() class="frm-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultFormatter]="formatter" />
      <hr>



      <!-- Table -->
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Product Name</th>
            <th scope="col" sortable="fullPrice" (sort)="onSort($event)">Full Price</th>
            <th scope="col" sortable="discount" (sort)="onSort($event)">Discount</th>
            <th>Category</th>
            <th>Supplier</th>
            <th>Availability</th>

            <th scope="col" sortable="salePrice" (sort)="onSort($event)"> Sale Price</th>
            <th>Edit or Delete</th>
          </tr>
          </thead>
          <tbody>

<!--          <tr  *ngFor="let product of products; let i= index">-->
          <tr  *ngFor="let product of products | slice: (page-1) * 20 : (page-1) * 20 + 20; let i= index">


            <!--getting data from database tables-->
          <th scope="row">{{product.productName}}</th>
            <td>{{product.fullPrice | currency:'USD'}}</td>

            <td>{{product.discount | percent:'.0-1'}}</td>
            <td>{{product._embedded.category.categoryName}}</td>
            <td>{{product._embedded.supplier.supplierName}}</td>
            <td>{{product.availability}}</td> <!--parse boolean to yes or no-->
            <td>{{product.salePrice | currency:'USD'}}</td>






            <td class="text-right" id="tableDataBtns">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#editProductForm"><i class="far fa-edit"></i></button>


                <!-- Add Product Form for Edit button-->
                <div class="modal fade" id="editProductForm" tabindex="-1">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit a Product</h4>
                      </div>
                      <div class="modal-body">
                        <form [formGroup]="productForm" (ngSubmit)="editSubmit(product.id)">
                          <div class="form-group">
                            <label for="productName">Product Name</label>
                            <input type="text" class="form-control" formControlName="productName" required>
                          </div>
                          <div class="form-group">
                            <label for="category">Product Category</label>
                            <select class="form-control" formControlName="category" required>
                              <option *ngFor="let c of categories" [ngValue]="c._links.self.href">
                                {{ c.categoryName }}</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="supplier">Product Supplier</label>
                            <select class="form-control" formControlName="supplier" required>
                              <option *ngFor="let s of suppliers" [ngValue]="s._links.self.href">
                                {{ s.supplierName }}</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="productPrice">Full Price </label>
                            <input type="number" formControlName="fullPrice" required>
                          </div>
                          <div class="form-group">
                            <label for="productSalePrice">Sale Price</label>
                            <input type="number" formControlName="salePrice" required>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" formControlName="availability"> Available
                            </label>
                          </div>
                          <button type="submit" [disabled]="!productForm.valid">Submit</button>
                        </form> </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->



                <button type="button" class="btn btn-danger" (click)="deleteProduct(product.id, i)"><i class="far fa-trash-alt"></i></button>
              </div>
            </td>
          </tr>

          </tbody>
        </table>
        <!--pagination-->
        <ngb-pagination
          [(page)]="page"
          [pageSize]="20"
          [collectionSize]="350"></ngb-pagination>
      </div>

    </div>
  </div>

  <!-- Add Product Form -->
  <div class="modal fade" id="addProductForm" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add a Product</h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="productName">Product Name</label>
              <input type="text" class="form-control" formControlName="productName" required>
            </div>
            <div class="form-group">
              <label for="category">Product Category</label>
              <select class="form-control" formControlName="category" required>
                <option *ngFor="let c of categories" [ngValue]="c._links.self.href">
                  {{ c.categoryName }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="supplier">Product Supplier</label>
              <select class="form-control" formControlName="supplier" required>
                <option *ngFor="let s of suppliers" [ngValue]="s._links.self.href">
                  {{ s.supplierName }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="productPrice">Full Price </label>
              <input type="number" formControlName="fullPrice" required>
            </div>
            <div class="form-group">
              <label for="productSalePrice">Sale Price</label>
              <input type="number" formControlName="salePrice" required>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" formControlName="availability"> Available
              </label>
            </div>
            <button type="submit" [disabled]="!productForm.valid">Submit</button>
          </form> </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>

